
body {
	margin: 0;
	font-family: "Verdana";
	cursor:default;
}
h1{
	text-align: center;
	font-size:2.5em;
}
h2{
	font-size:2em;
}
p{
	font-size:1.5em;
}
/* Table Styling */
table,
td,
th {
	border: 1px solid black;
	text-align: center;
	font-size: 1em;
	width: 80vw;
}
a:link {
	text-decoration: none;
	color: #666;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
	color: white;
}




